

body {
    margin: 30px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    justify-content: center;
    background: #FBF7EE;  
    font-family: 'Inter', sans-serif;
}

/* Typography */

h1 {   
    padding-top: 10px;
    margin: 0;
    font-weight: 800;
 }
 
 p {
     color: #5A537B;
     font-weight: 600;
 }
 

.change-btn {
    border: none;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 101px;
    height: 42px;
    margin: -10px 0px 35px 0px;
    padding: 10px 15px;
    background: #FFFFFF;
    color: #1A1921;
    font-family: inter;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500px;
}

section { 
    padding-top: 7.5px;
    width: 500px;
    height: 108.57px;
    margin: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #FFFFFF
}

.summed_values {
    padding: 3.5px;
    color: #353535;
    font-weight: 400;
}

#input-el{
    border: solid 2px #B295FF;
    width: 101px;
    height: 101px;
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    padding-left: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #6943FF;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 45px;
    box-sizing: border-box;
    border-radius: 7px;
    
}

::placeholder { 
    color: white;
    opacity: 1; 
    font-weight: 800;
}

/* layout */

header {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 550px;
    height: 285px; 
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color:#FFFFFF;
    background: #6943FF;
    
}

main {
    text-align:center;
    width: 550px;
    height: 444px;
    font-family: "Inter";
    font-style: normal;
    color: #1A1921;
    background: #F4F4F4;
}

