body {
    margin: 30px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    justify-content: center;
    left: 0px;
    top: 83px;
    background: #FBF7EE;  
}


header {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 550px;
    height: 285px;
    left: 0px;
    top: 0;   
    font-family: "Inter";
    font-style: normal;
    color:#FFFFFF;
    background: #6943FF;
    
}

rectangle {
    display:flex;
    flex-direction: row;
    width: 117px;
    height: 83px;
    border: solid 2px #B295FF;
}

.header_p {
    margin: 0; 
    padding: 70px;
    font-size: 75px;
}

main {
    text-align:center;
    width: 550px;
    height: 444px;
    left: 0px;
    top: 0px;
    font-family: "Inter";
    font-style: normal;
    color: #1A1921;
    background: #F4F4F4;
}

h1 {   
    padding-top: 10px;
    margin: 0;
 }
 
 p {
     color: #5A537B
 }
 
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
} 

section { 
    padding-top: 7.5px;
    width: 500px;
    height: 108.57px;
    margin: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #FFFFFF
}

.summed_values {
    padding: 3.5px;
    color: #353535;
}

#input-el{
    border: solid 2px #B295FF;
    width: 101px;
    height: 101px;
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    padding-left: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #6943FF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 45px;
    box-sizing: border-box;
    border-radius: 7px;
    
}

::placeholder { 
    color: white;
    opacity: 1; 
}

.change-btn {
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 101px;
    height: 42px;
    margin: 0 10px;
    padding: 10px 15px;
    background: #FFFFFF;
    color: #1A1921;
    font-family: inter;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500px;
}